HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.mvn/wrapper/maven-wrapper.jar
/.mvn/wrapper/maven-wrapper.properties
/mvnw
/mvnw.cmd
/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.2.0.0.20220705-1221.xml
/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.intro/introstate
/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/.metadata/.lock
/.metadata/.log
/.metadata/version.ini
/bin/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
/bin/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/bin/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/bin/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/bin/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
/bin/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/bin/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/bin/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
/bin/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
/bin/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
/bin/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/bin/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/bin/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
/bin/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/bin/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/bin/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
/bin/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
/bin/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.2.0.0.20220705-1221.xml
/bin/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
/bin/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
/bin/.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
/bin/.metadata/.plugins/org.eclipse.ui.intro/introstate
/bin/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/bin/.metadata/.lock
/bin/.metadata/.log
/bin/.metadata/version.ini
/bin/src/main/java/com/example/stamboot/bl/tasks/ParamLoggingTask.class
/bin/src/main/java/com/example/stamboot/bl/BsonSerializer.class
/bin/src/main/java/com/example/stamboot/config/BsonConfig.class
/bin/src/main/java/com/example/stamboot/config/DynamicPropertiesListener.class
/bin/src/main/java/com/example/stamboot/config/ParamsLoggingConfig.class
/bin/src/main/java/com/example/stamboot/config/SchedulerConfig.class
/bin/src/main/java/com/example/stamboot/controller/errorhandling/ExceptionHandlerController.class
/bin/src/main/java/com/example/stamboot/controller/BsonTestController.class
/bin/src/main/java/com/example/stamboot/controller/ErrorHandlingTestController.class
/bin/src/main/java/com/example/stamboot/controller/HtmlParsingController.class
/bin/src/main/java/com/example/stamboot/controller/LetterFormattingController.class
/bin/src/main/java/com/example/stamboot/controller/LogFilteringDemoController.class
/bin/src/main/java/com/example/stamboot/controller/ParamsController.class
/bin/src/main/java/com/example/stamboot/controller/RedirectingController.class
/bin/src/main/java/com/example/stamboot/controller/UploadTestController.class
/bin/src/main/java/com/example/stamboot/letterformatting/bl/LetterFormattingManager.class
/bin/src/main/java/com/example/stamboot/letterformatting/format/implementations/CustomerLetterFormatter.class
/bin/src/main/java/com/example/stamboot/letterformatting/format/implementations/FinancialDocumentFormatter.class
/bin/src/main/java/com/example/stamboot/letterformatting/format/implementations/InternalDocumentFormatter.class
/bin/src/main/java/com/example/stamboot/letterformatting/format/implementations/LegalDocumentFormatter.class
/bin/src/main/java/com/example/stamboot/letterformatting/format/BaseLetterFormatter.class
/bin/src/main/java/com/example/stamboot/letterformatting/format/LetterFormatter.class
/bin/src/main/java/com/example/stamboot/letterformatting/format/LetterFormatterFactory.class
/bin/src/main/java/com/example/stamboot/letterformatting/postformat/implementations/CustomerLetterPostFormatter.class
/bin/src/main/java/com/example/stamboot/letterformatting/postformat/implementations/FinancialDocumentPostFormatter.class
/bin/src/main/java/com/example/stamboot/letterformatting/postformat/implementations/InternalDocumentPostFormatter.class
/bin/src/main/java/com/example/stamboot/letterformatting/postformat/implementations/LegalDocumentPostFormatter.class
/bin/src/main/java/com/example/stamboot/letterformatting/postformat/BaseLetterPostFormatter.class
/bin/src/main/java/com/example/stamboot/letterformatting/postformat/LetterPostFormatter.class
/bin/src/main/java/com/example/stamboot/letterformatting/postformat/LetterPostFormatterFactory.class
/bin/src/main/java/com/example/stamboot/letterformatting/preformat/implementations/CustomerLetterPreFormatter.class
/bin/src/main/java/com/example/stamboot/letterformatting/preformat/implementations/FinancialDocumentPreformatter.class
/bin/src/main/java/com/example/stamboot/letterformatting/preformat/implementations/InternalDocumentPreFormatter.class
/bin/src/main/java/com/example/stamboot/letterformatting/preformat/implementations/LegalDocumentPreFormatter.class
/bin/src/main/java/com/example/stamboot/letterformatting/preformat/BaseLetterPreFormatter.class
/bin/src/main/java/com/example/stamboot/letterformatting/preformat/LetterPreFormatter.class
/bin/src/main/java/com/example/stamboot/letterformatting/preformat/LetterPreFormatterFactory.class
/bin/src/main/java/com/example/stamboot/letterformatting/service/LetterFormattingService.class
/bin/src/main/java/com/example/stamboot/letterformatting/DocumentType.class
/bin/src/main/java/com/example/stamboot/scheduler/cron/StamCronTaskRunner.class
/bin/src/main/java/com/example/stamboot/StamBootApplication.class
/bin/src/main/resources/application.properties
/bin/src/test/java/com/example/stamboot/StamBootApplicationTests.class
/bin/.gitignore
/bin/LICENSE
/bin/pom.xml
/bin/README.md
